--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://gases.anthropic.com/claude/wheels
numpy
preshed
spacy
pandas
nltk
scikit-learn
matplotlib
seaborn
plotly
kaggle
flask
